@import "tailwindcss";

:root {
  --background: #0b0f14;
  --foreground: #e2e8f0;
}

html {
  background-color: #0b0f14;
}

body {
  background-color: #0b0f14;
  color: #e2e8f0;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}